################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoApi/.vs
/TodoApi/TodoApi/bin/Debug/netcoreapp2.1
/TodoApi/TodoApi/obj
/.vs
